**This notebook is part of a larger project aimed at performing a comparative analysis of hotel reviews. In this section, we focus on processing and analyzing user reviews from a dataset containing JSON Lines files. We begin by reading the JSON data into a Pandas DataFrame, followed by cleaning and transforming the data for further analysis. The primary objectives include extracting and structuring review data, filtering for specific regions (New York City), and analyzing various aspects of customer feedback such as service, cleanliness, and overall ratings. Additionally, we clean the review text to facilitate text analysis and sentiment evaluation in later stages of the project.**

In [5]:
import json
import pandas as pd
import re

In [6]:
file_path = "./data/review.txt"

In [7]:
# Read the JSON Lines file with Pandas
df = pd.read_json(file_path, lines=True)

In [8]:
df.shape

(878561, 10)

In [11]:
off = pd.read_json("./data/offering.txt",lines=True)

In [12]:
off

,hotel_class,region_id,url,phone,details,address,type,id,name
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '147 West 4...",hotel,113317,Casablanca Hotel Times Square
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,,NaN,"{'region': 'CA', 'street-address': '300 S Dohe...",hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '790 Eighth...",hotel,99352,Hilton Garden Inn Times Square
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '152 West 5...",hotel,93589,The Michelangelo Hotel
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '130 West 4...",hotel,217616,The Muse Hotel New York
...,...,...,...,...,...,...,...,...,...
4328,5.0,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,,NaN,"{'region': 'DC', 'street-address': '1201 24th ...",hotel,84090,Park Hyatt Washington
4329,5.0,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,,NaN,"{'region': 'DC', 'street-address': '2800 Penns...",hotel,84065,Four Seasons Washington D.C.
4330,4.0,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,,NaN,"{'region': 'DC', 'street-address': '2121 P Str...",hotel,84093,"Palomar Washington DC, a Kimpton Hotel"
4331,4.5,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,,NaN,"{'region': 'DC', 'street-address': '806 15th S...",hotel,235513,Sofitel Washington DC
4332,5.0,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,,NaN,"{'region': 'DC', 'street-address': '16th & H S...",hotel,84117,The Hay-Adams

In [13]:
df.head()

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False

In [14]:
df = pd.merge(df, off, left_on='offering_id', right_on='id', how = 'left')

In [15]:
df.head()

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id_x,via_mobile,hotel_class,region_id,url,phone,details,address,type,id_y,name
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False,3.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False,3.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue

In [16]:
df['date'].nunique()

3948

In [17]:
# Function to check if the address contains 'NY' region
def is_nyc_area(address):
    if isinstance(address, dict):
        return address.get('region') == 'NY'
    return False

In [18]:
# Filter the DataFrame
df_nyc = df[df['address'].apply(is_nyc_area)]

In [19]:
# Display the first few rows of the filtered DataFrame
df_nyc.head()

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id_x,via_mobile,hotel_class,region_id,url,phone,details,address,type,id_y,name
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False,3.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False,3.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '485 5th Av...",hotel,1762573,Andaz 5th Avenue

In [20]:
print(type(df_nyc))

<class 'pandas.core.frame.DataFrame'>

In [21]:
df_nyc['name'].nunique()

406

In [22]:
df_nyc['name'].unique()

array(['Hotel Beacon', 'Andaz 5th Avenue',
       'The Setai Fifth Avenue, a Capella managed Hotel', 'The Chatwal',
       'Eventi - a Kimpton Hotel', 'The Iroquois', 'San Carlos Hotel',
       'The Sherry-Netherland Hotel',
       'The Ritz-Carlton New York, Central Park',
       'Staybridge Suites Times Square - New York City',
       'The NoMad Hotel', 'Sofitel New York', 'The Muse Hotel New York',
       'The Michelangelo Hotel', 'Hilton Garden Inn Times Square',
       'Residence Inn by Marriott Times Square New York',
       'InterContinental New York Times Square',
       'BEST WESTERN PLUS Seaport Inn Downtown', 'Aloft Harlem',
       'Hotel Mulberry', 'Candlewood Suites New York City Times Square',
       'Fitzpatrick Manhattan', 'Affinia Gardens',
       'The Carlyle, A Rosewood Hotel', 'Gansevoort Park Avenue NYC',
       'The Kimberly Hotel', 'Affinia Shelburne',
       'Hampton Inn Manhattan / Times Square South',
       'Hampton Inn Madison Square Garden',
       'Hilton Garden Inn New York - Chelsea',
       'Comfort Inn Lower East Side',
       'Courtyard by Marriott New York Manhattan / Midtown East',
       'Holiday Inn Midtown West 31st Street', 'On The Ave Hotel',
       'Ameritania Hotel', 'Mondrian Soho', 'The Gotham Hotel',
       'Washington Square Hotel', 'Hotel 373', 'Le Parker Meridien',
       'Hilton Club New York', 'The Marcel at Gramercy',
       'Comfort Inn Manhattan Bridge', 'The Manhattan Club',
       'Wyndham Garden Hotel Manhattan, Chelsea West', 'The Mercer Hotel',
       'Roger Smith Hotel', 'New York Marriott East Side',
       'Hotel Belleclaire', 'Wyndham Garden Chinatown',
       'AKA United Nations',
       'Doubletree Hotel New York City-Financial District',
       'Excelsior Hotel', 'Manhattan Centre Hotel', 'The Milburn Hotel',
       'Club Quarters Wall Street', 'Soho Grand Hotel',
       'Hotel East Houston', 'Cosmopolitan Hotel - Tribeca',
       'Hotel Stanford', 'W New York',
       'Doubletree By Hilton - Times Square South', '3 West Club',
       'Skyline Hotel', 'Wolcott Hotel',
       'Paramount Hotel Times Square New York', 'Hotel St. James',
       'The GEM Hotel-SoHo, an Ascend Collection hotel',
       'Hotel Deauville', 'Comfort Inn Chelsea', 'Flatotel',
       'Park 79 Hotel', 'Holiday Inn NYC - Manhattan 6th Avenue',
       'King & Grove New York', 'Holiday Inn Midtown / 57th St',
       'The Roosevelt Hotel', 'Americana Inn', 'Buckingham Hotel',
       'Tribeca Blu Hotel', 'Astor on the Park', 'the Lexington',
       'Mayfair Hotel', 'BEST WESTERN Convention Center Hotel',
       'Chelsea Hotel', 'Hotel Delmonico', 'Oakwood Chelsea',
       'Oakwood Midtown East', 'Thompson Hotel',
       'Downtown Athletic Center', 'New York Escape', 'The Amsterdam Inn',
       'Manhattan Broadway Hotel', 'BEST WESTERN PLUS Queens Court Hotel',
       'Howard Johnson Manhattan Soho', 'Hotel Pennsylvania New York',
       'Apollo', "America's Best Value Inn Mayor Hotel",
       'Mount Royal Hotel & Hostel', 'New York Inn', 'Luxurstay B&B',
       'Chocolat Hostel', 'Third Ave House', 'The Soho Loft', 'Elk Hotel',
       'HOTEL 52', 'Sakuratei', 'Senton Hotel', 'Signature Properties',
       'National at Park Towers', 'Hotel Riverview',
       'Holiday Inn Express New York - Manhattan West Side',
       'World Hotel', 'Central Park House', 'Chelsea Inn - 11th Avenue',
       'West Side Inn', 'Sun Bright Hotel', 'Comfort Inn New York City',
       'Hotel Riverside Studios', 'Woogo Apartments - Times Square',
       'Tone on Lex', 'Washington Hotel', 'Beekman Apartments',
       'The Aladdin', 'Sutton Place Apartments', 'Design Dream',
       'La Semana Hotel', 'Empire Roof', 'Oakwood at 777 6th Avenue',
       'Oakwood at Longacre House', 'Metro Home / Trump Park',
       'Oakwood Cosmopolitan', 'Box Tree Inn', 'The Dorset',
       'A Hospitality Company, Inc.',
       'Metro-Home / United Nations Suites', 'Achieve Guest House',
       'Allerton', 'The St. Regis Club at the Essex House, New York',
       'YourStay MidTown Apartments', 'The Melrose Hotel',
       'Riverside Hotel', "JC's New York Hotel", 'The Carnegie Suites',
       'Oxbridge Midtown East Apartments',
       'East 73rd and York Ave Apartment', 'Apartment Hotel 51',
       'The Gem Hotel New York Clarion', 'Hotel Carter',
       'Saint Nicholas Inn', 'Morningside Inn', 'The Helmsley Windsor',
       'Room.A', 'East Bridge', 'St. Marks Hotel', 'Royal Park Hotel',
       'Riverside Tower', 'Inter-Continental Central Park South New York',
       'Sheraton Russell Hotel', 'Envoy Club Suites',
       'Marrakech Hotel on Broadway', 'Park Savoy', 'Park Central',
       'Best Western PLUS President Hotel at Times Square',
       'Windsor Hotel', 'Jolly Hotel Madison Towers',
       'Eurostars Wall Street', 'Milford Plaza Hotel',
       'Days Inn Hotel New York City - Broadway', 'Hotel Alexander',
       'Clarion Hotel Park Avenue', 'The Premier Hotel', 'Hotel Olcott',
       'The GEM Hotel Midtown West', 'Murray Hill Inn',
       'New York Budget Inn', 'Beekman Tower Hotel',
       'Oakwood at 6th Avenue', 'NY Oyado',
       'Comfort Inn Convention Center', 'Chelsea Inn - 17th Street',
       'Hudson New York', 'Esplanade', 'The Grant Hotel',
       'Chelsea Star Hotel',
       'Holiday Inn Express New York City-Wall Street', 'The Hotel 91',
       '254 East Vacation', 'Belnord Hotel',
       'Comfort Inn Central Park West', 'The Inn at Irving Place',
       'Amsterdam Court Hotel', 'Wellington Hotel', 'Lafayette House',
       'Broadway Hotel and Hostel',
       'Courtyard by Marriott New York Manhattan / Upper East Side',
       'The Manhattan at Times Square Hotel',
       'The Helmsley Carlton House', 'Hotel Azure', 'Empire Hotel',
       'The Time', 'Holiday Inn SoHo New York', 'Bedford Hotel',
       'Hotel Grand Union', 'Off Soho Suites', 'Hotel Wales',
       'The Bentley Hotel', 'Stay.', 'Comfort Inn Times Square South',
       'Edison Hotel Times Square', 'The Franklin', 'Dylan Hotel',
       'Chelsea Savoy Hotel', 'Club Quarters Midtown',
       'Millennium Hotel Broadway', 'Hilton Manhattan East',
       'La Quinta Inn Manhattan',
       'Doubletree Hotel Metropolitan - New York City', 'The Alex Hotel',
       'The Westin New York Grand Central',
       '60 Thompson - A Thompson Hotel', 'Dream New York',
       'Da Vinci Hotel', 'Hotel Americano', 'The Shoreham',
       'The Mansfield', 'Econo Lodge Times Square',
       'Travel Inn Hotel New York', 'Herald Square Hotel',
       'Holiday Inn Express New York City Fifth Ave',
       'Washington Jefferson Hotel', 'Sohotel',
       'Four Points by Sheraton Manhattan Chelsea', 'Hilton New York',
       'Hotel Gansevoort', 'Tribeca Grand Hotel',
       'Sheraton New York Times Square Hotel',
       'Holiday Inn New York City - Wall Street',
       'Murray Hill East Suites',
       'Holiday Inn Express NYC - Madison Square Garden',
       'Doubletree Hotel Chelsea New York City', 'The Helmsley Park Lane',
       'Larchmont Hotel', 'Hotel Verite', 'The Hotel at Times Square',
       'The Sylvan Guest House', 'Solita Soho Hotel', 'The Jane',
       'Ramada Eastside', 'Grand Hyatt New York',
       'Thompson LES - A Thompson Hotel', 'ONE UN New York',
       'Hotel Newton', 'W New York - Downtown',
       'Courtyard New York Manhattan/Fifth Avenue',
       'Sheraton Tribeca New York Hotel', 'Hotel 17',
       'Loews Regency Hotel', 'Waldorf Astoria New York',
       'The GEM Hotel Chelsea', 'Room Mate Grace',
       'The Standard High Line', 'Hotel 31',
       'Four Points by Sheraton Midtown - Times Square',
       'Fairfield Inn & Suites New York Manhattan / Fifth Avenue',
       'Seafarers & International House',
       'Club Quarters, opposite Rockefeller Center',
       'Fairfield Inn & Suites by Marriott New York Manhattan / Times Square',
       'Carlton Hotel, Autograph Collection', 'The Lombardy', 'Pod 51',
       'Radisson Martinique on Broadway',
       'Four Points by Sheraton Manhattan SoHo Village',
       'Kitano New York', 'Eastgate Tower', 'Flatiron Hotel', 'The MAve',
       'Equity Point New York @ Times Square',
       'Gild Hall - A Thompson Hotel', 'Renaissance New York Hotel 57',
       'W New York - Union Square', 'Sutton Court Hotel Residences',
       'Comfort Inn Times Square West', 'The Roger',
       'nyma, the New York Manhattan Hotel',
       'Novotel New York Times Square', '6 Columbus - A Thompson Hotel',
       'Seton Hotel', 'St Giles Hotel - The Court New York',
       'City Club Hotel', 'Carvi Hotel New York', 'Avalon Hotel',
       'Broadway Plaza Hotel', 'West 57th Street by Hilton Club',
       'The New Yorker Hotel', 'Comfort Inn Manhattan',
       'Millenium Hilton', 'Soho House New York',
       'Algonquin Hotel Times Square, Autograph Collection', 'Pod 39',
       'World Center Hotel', 'Phillips Club',
       'Hampton Inn 35th St. Empire State Building',
       'JW Marriott Essex House New York', 'Chelsea Lodge',
       'The Wall Street Inn', 'Marmara Manhattan Hotel',
       'Affinia Manhattan', 'Park South Hotel',
       'The Standard, East Village', 'The Belvedere', 'Dream Downtown',
       'Hilton New York Fashion District', '414 Hotel',
       'Broadway at Times Square Hotel', 'Blue Moon Hotel',
       'Club Quarters World Trade Center',
       'Holiday Inn Express New York City Times Square',
       'New York Marriott Downtown', 'InterContinental New York Barclay',
       'Affinia 50', 'Hotel on Rivington',
       'Courtyard by Marriott New York Manhattan / Times Square South',
       'Hotel Mela', 'The Westin New York at Times Square',
       'Wingate by Wyndham Manhattan Midtown',
       'Hilton Garden Inn New York/Tribeca',
       'Hotel Indigo New York City, Chelsea',
       'BEST WESTERN Bowery Hanbee Hotel', 'Chambers Hotel',
       'Salisbury Hotel', 'Ace Hotel NYC', 'Night Hotel',
       'AKA Sutton Place', '70 park avenue hotel - a Kimpton Hotel',
       'Fairfield Inn & Suites New York Manhattan/Chelsea',
       'Hotel Plaza Athenee New York', 'The Plaza Hotel',
       'Hampton Inn New York Seaport / Financial District',
       'Crowne Plaza Times Square Manhattan', 'Warwick New York Hotel',
       'St. Giles - The Tuscany New York', 'Cassa Hotel & Residences',
       'New York Marriott Marquis', 'Hampton Inn Manhattan-SoHo',
       'The Benjamin', 'The Blakely New York',
       'The Pierre, A Taj Hotel, New York', 'Royalton New York',
       'Hyatt 48 Lex', 'The Lucerne Hotel', 'Moderne Hotel',
       'Smyth Hotel - A Thompson Hotel', 'Hampton Inn Manhattan Chelsea',
       'Duane Street Hotel', 'W New York - Times Square',
       'Gramercy Park Hotel', 'The Strand Hotel', 'The James New York',
       'The Peninsula New York', 'Hotel Metro',
       'Mandarin Oriental, New York', 'Ritz-Carlton Battery Park',
       'Four Seasons Hotel New York', 'Fitzpatrick Grand Central Hotel',
       'Conrad New York', 'Courtyard New York Manhattan/Soho',
       'The New York Palace Hotel', 'YOTEL New York at Times Square West',
       'Hotel Chandler', 'Affinia Dumont', 'The St. Regis New York',
       'Omni Berkshire Place', 'The Maritime Hotel',
       'Renaissance New York Hotel Times Square',
       'Ink48 - a Kimpton Hotel', 'Morgans Hotel',
       'Hilton Garden Inn New York West 35th', 'The Bowery Hotel',
       'The Towers of the Waldorf Astoria', 'TRYP Times Square South',
       'Hilton Times Square', 'Doubletree Guest Suites Times Square',
       'The Jewel Facing Rockefeller Center',
       'The Hampton Inn Times Square North', 'The London NYC',
       'Lowell Hotel', 'Trump International Hotel and Tower',
       'BEST WESTERN PLUS Hospitality House', 'The Surrey',
       'Sanctuary Hotel New York', 'Casablanca Hotel Times Square',
       'The Mark', 'Andaz Wall Street', 'The Nolitan Hotel',
       'The Bryant Park Hotel', 'Distrikt Hotel', 'Crosby Street Hotel',
       'The Pearl Hotel', 'The French Quarters Guest Apartments',
       'Trump SoHo New York', 'Greenwich Hotel', 'Inn New York City',
       'Chelsea Pines Inn', 'Library Hotel', 'Hotel Giraffe',
       'Hotel Elysee'], dtype=object)

In [23]:
# Function to extract all unique keys in the ratings field
def get_unique_keys(column):
    unique_keys = set()
    for entry in column:
        if isinstance(entry, dict):
            unique_keys.update(entry.keys())
    return unique_keys

In [24]:
# Extract unique keys from the ratings column
unique_rating_keys = get_unique_keys(df_nyc['ratings'])

unique_rating_keys

{'business_service_(e_g_internet_access)',
 'check_in_front_desk',
 'cleanliness',
 'location',
 'overall',
 'rooms',
 'service',
 'sleep_quality',
 'value'}

In [25]:
# Function to extract ratings from JSON-like string or a dictionary
def extract_ratings(rating):
    if isinstance(rating, str):
        try:
            return json.loads(rating.replace("'", "\""))
        except json.JSONDecodeError:
            return None
    elif isinstance(rating, dict):
        return rating
    else:
        return None

In [26]:
# Apply the function to the ratings column
ratings_extracted = df_nyc['ratings'].apply(extract_ratings)

In [27]:
# Define the function to extract a specific rating category from the dictionary
def extract_rating_category(ratings_dict, category):
    return ratings_dict.get(category, None) if ratings_dict else None

# List of categories to extract
categories = ['service', 'cleanliness', 'overall', 'location', 'rooms', 'sleep_quality', 'value', 'business_service_(e_g_internet_access)', 'check_in_front_desk']

In [28]:
df_nyc = df_nyc.copy()

In [29]:
# Apply the function to each category and create new columns
for category in categories:
    df_nyc[f'{category}_rating'] = ratings_extracted.apply(lambda x: extract_rating_category(x, category))

In [30]:
df_nyc.columns

Index(['ratings', 'title', 'text', 'author', 'date_stayed', 'offering_id',
       'num_helpful_votes', 'date', 'id_x', 'via_mobile', 'hotel_class',
       'region_id', 'url', 'phone', 'details', 'address', 'type', 'id_y',
       'name', 'service_rating', 'cleanliness_rating', 'overall_rating',
       'location_rating', 'rooms_rating', 'sleep_quality_rating',
       'value_rating', 'business_service_(e_g_internet_access)_rating',
       'check_in_front_desk_rating'],
      dtype='object')

In [31]:
df_nyc.drop(columns=['ratings', 'author', 'date_stayed', 'offering_id', 'id_x', 'via_mobile', 'region_id', 'url', 'phone', 'details', 'address', 'id_y'], inplace=True)

In [32]:
df_nyc.drop(columns=['num_helpful_votes', 'type', 'hotel_class'])

,title,text,date,name,service_rating,cleanliness_rating,overall_rating,location_rating,rooms_rating,sleep_quality_rating,value_rating,business_service_(e_g_internet_access)_rating,check_in_front_desk_rating
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,2012-12-17,Hotel Beacon,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",2012-12-17,Hotel Beacon,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
2,“Great Stay”,This is a great property in Midtown. We two di...,2012-12-18,Andaz 5th Avenue,4.0,5.0,4.0,5.0,4.0,4.0,4.0,NaN,NaN
3,“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,2012-12-17,Andaz 5th Avenue,5.0,5.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN
4,“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,2012-12-17,Andaz 5th Avenue,4.0,5.0,4.0,5.0,5.0,5.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535925,"“Un hotel encantador, muy recomendable”",Fue una estancia maravillosa e inolvidable de ...,2008-08-18,Hotel Giraffe,5.0,5.0,5.0,5.0,5.0,NaN,4.0,4.0,5.0
536023,“Buon albergo”,Ho trascorso cinque notti al Giraffe durante l...,2008-04-20,Hotel Giraffe,4.0,3.0,3.0,4.0,4.0,NaN,3.0,3.0,4.0
536024,“Un hotel eccezionale”,Abbiamo pernottato all'hotel Giraffe nella set...,2008-04-12,Hotel Giraffe,5.0,5.0,5.0,5.0,5.0,NaN,5.0,5.0,5.0
536025,“Ottimo”,Ottimo albergo. Stanze spaziose e pulite.Colaz...,2008-03-28,Hotel Giraffe,4.0,5.0,5.0,4.0,4.0,NaN,5.0,4.0,4.0
536026,“Un relax en el ritmo trepidante de New York”,Seguro que volveremos. Limpieza exquisita. Hab...,2008-03-22,Hotel Giraffe,5.0,5.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0

In [33]:
def clean_text(text):
    """
    Function to clean text by removing unwanted characters, converting to lowercase,
    and removing extra whitespace.

    Parameters:
    text (str): The text to be cleaned.

    Returns:
    str: The cleaned text.
    """
    # Convert text to lowercase
    text = text.lower()
    
    # Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove punctuation and numbers
    text = re.sub(r'[^a-z\s]', '', text)
    
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [34]:
# Apply the clean_text function to each row in the 'text' column
df_nyc['cleaned_text'] = df_nyc['text'].apply(clean_text)

In [ ]:
df_nyc.to_csv('./data/nyc_hotels.csv', index = False)